.h {
    font-size: 4.2vw;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

@media only screen and (max-width: 991px) {
    .h {
        font-size: 8.4vw;
    }
}
